:root {
    --border: 8px solid #355169;
}

@font-face {
    font-family: "inter";
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "inter", sans-serif;
}

.main {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #B6E2F1;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
    background-color: rgb(65, 141, 116);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    height: 50px;
    width: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height:300px;
    padding: 15px;
    background-color: #B6E2F1;
    border-radius: 50px;
}

.div0,.div4 {
    border-bottom: var(--border);
    border-right: var(--border);
}

.div4, .div8 {
    border-top: var(--border);
    border-left: var(--border);
}

.div5 {
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
}

.div3 {
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border);
}

.div2 {
    border-left: var(--border);
    border-bottom: var(--border);
}

.div6 {
    border-right: var(--border);
    border-top: var(--border);
}

.div1 {
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
}

.div7 {
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.result {
    text-align: center;
}

.new-game {
    justify-self: end;
}